{erl_opts, [debug_info]}.

{deps, []}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{project_plugins, [rebar3_hex]}.

{profiles, [
    {test, [
        {deps, [
            {snatch_exomler, {git, "https://github.com/snatch-xmpp/snatch_exomler"}}
        ]}
    ]},
    {doc, [
        {plugins, [rebar_edown_plugin]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, github},
            {top_level_readme, {"./README.md", "http://github.com/snatch-xmpp/snatch"}}
        ]}
    ]}
]}.
